body {
    margin: 0;
}
h1 {
    margin: 0 30px 0 0;
    color: red;
}
.showcase {
    margin: 0 60px 0 220px;
    display: flex;
    align-items: center;
    font-family: "Raleway-Medium,Montserrat-Light,AdobeInvisFont,MyriadPro-Regular";
    font-size: 14px;
}
p {
    margin: 20px 0 20px 100px;
    color: blue;
}
