$body-color: red;

body {
  color: $body-color;
}

.all-goods {
  display: flex;
}
.all-goods h2 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.catalog {
  margin-right: 100px;
}

.cart {
  margin-left: 100px;
  border: 1px solid #000;
}
